:root
{
    --bg-green: #19BC9C;
}
/* MENU A DESTRA NAVBAR */
#navbarNav.navbar-collapse
{
    flex-grow: 0;
}

/*STARS*/
.star
{
    font-size: 40px;
}
.star-black::before
{
    content: '';
    display: inline-block;
    height: 3px;
    width: 80px;
    background-color: black;
    vertical-align: middle;
}
.star-black::after
{
    content: '';
    display: inline-block;
    height: 3px;
    width: 80px;
    background-color: black;
    vertical-align: middle;
}
.star-white::before
{
    content: '';
    display: inline-block;
    height: 3px;
    width: 80px;
    background-color: white;
    vertical-align: middle;
}
.star-white::after
{
    content: '';
    display: inline-block;
    height: 3px;
    width: 80px;
    background-color: white;
    vertical-align: middle;
}
/* JUMBOTRON */
#jumbotron
{
    background-color: var(--bg-green);
}
#avatar
{
    max-width: 250px;
}