:root
{
    --bg-green: #19BC9C;
    --bg-gray: #3B536D;
}
/* MENU A DESTRA NAVBAR */
#navbarNav.navbar-collapse
{
    flex-grow: 0;
}

/*STARS*/
.star
{
    font-size: 40px;
}
.star-black::before
{
    content: '';
    display: inline-block;
    height: 3px;
    width: 80px;
    background-color: black;
    vertical-align: middle;
}
.star-black::after
{
    content: '';
    display: inline-block;
    height: 3px;
    width: 80px;
    background-color: black;
    vertical-align: middle;
}
.star-white::before
{
    content: '';
    display: inline-block;
    height: 3px;
    width: 80px;
    background-color: white;
    vertical-align: middle;
}
.star-white::after
{
    content: '';
    display: inline-block;
    height: 3px;
    width: 80px;
    background-color: white;
    vertical-align: middle;
}
/* JUMBOTRON */
#jumbotron,#about,.btn
{
    background-color: var(--bg-green);
}
#avatar
{
    max-width: 250px;
}
/* PORTFOLIO */
#portfolio img
{
    border-radius: 20px;
}
/* CONTACT ME */
#contact .form-control
{
    border-width: 0 0 1px 0;
    border-radius: 0;
}
/* FOOTER */
footer
{
    background-color: var(--bg-gray);
}
footer .bi{

}